@inherits ParentComponentBase
@page "/parent"

<PageTitle>Counter</PageTitle>

<h1>Parent Component</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>